body {
    background-color: hsl(0, 0%, 95%); 
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    padding: 20px 0;
    margin-bottom: 0;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 100px;
}

.row {
    width: 80%;
    margin: 5% 10%;
}

/* Boxes */
.box {
    padding: 50px 67px;
}
#left-box {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#mid-box {
    background-color: hsl(184, 100%, 22%);
}
#right-box {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* buttons */
.btn {
    padding: 10px 25px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border: solid 3px;
    border-color: hsl(0, 0%, 95%);
}

#left-btn {
    color:hsl(31, 77%, 52%);
}
#left-btn:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
}

#mid-btn {
    color:hsl(184, 100%, 22%);
}
#mid-btn:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
}

#right-btn {
    color:hsl(179, 100%, 13%);
}
#right-btn:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px) {
    .row {
        width: 88%;
        margin: 18% 6%;
    }
    .box {
        padding: 30px 20px;
    }
    p {
        margin-bottom: 30px;
    }
    #left-box {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    #right-box {
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
    }
}